@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* nprogress.css */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: hsl(51, 96%, 49%); /* Change to your theme color */
  height: 4px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #dfbf09, 0 0 5px #f1da07;
}
